<div class="main-body">
  <div class="desk-container">
    <div class="cat">
      <img src="../../../assets/images/Black_Cat_halloween_72px_518130_easyicon.net.png" alt="cat">
    </div>
    <div class="desk">
      <div class="longer"></div>
      <div class="slide">
        <div class="slide-one"></div>
        <div class="slide-two"></div>
      </div>
      <div class="magazines">
        <div class="top-mags"></div>
        <div class="bottom-mags"></div>
      </div>
      <div class="flower">
        <div class="bud">
          <div class="bud-inside"></div>
        </div>
        <div class="stem">
          <div class="leaf-row-one"></div>
          <div class="leaf-row-two"></div>
        </div>
        <div class="pot"></div>
      </div>
      <div class="chair"></div>
      <div class="chair-holder"></div>
      <div class="imac">
        <div class="black-side">
          <p>小花是世界上最美丽的女人吗？</p>
          <p>Absolutely YES!</p>
          <p><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>700million+</p>
        </div>
        <div class="butt"></div>
        <div class="holder"></div>
        <div class="note"></div>
      </div>
      <div class="kettle">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="handle"></div>
        <div class="other-stuff"></div>
      </div>
      <div class="cup"></div>
      <div class="clock">
        <div class="top"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="left"></div>
        <div class="center"></div>

        <div class="hour" ></div>
        <div class="minute" ></div>
        <div class="second"></div>
      </div>
      <div class="board">
        Today jobs
        <ul>
          <li>eat</li>
          <li>sleep</li>
          <li>love</li>
        </ul>
      </div>
    </div>
  </div>

</div>
