@import url(https://fonts.googleapis.com/css?family=Architects+Daughter);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

.main-body {
  height: 600px;
  background: linear-gradient(135deg, #F2F3EB 25%, transparent 25%) -50px 0, linear-gradient(225deg, #F2F3EB 25%, transparent 25%) -50px 0, linear-gradient(315deg, #F2F3EB 25%, transparent 25%), linear-gradient(45deg, #F2F3EB 25%, transparent 25%);
  background-size: 100px 100px;
  background-color: #FFFFFF;
}
.cat{
  position: absolute;
  bottom: 0;
  left: 200px;
}
.cat img{
  height: 100px;
  width: auto;
}
.desk {
  width: 680px;
  height: 30px;
  background: #77756a;
  margin-right: auto;
  margin-left: auto;
  border-top: 10px solid #5b574e;
  position: relative;
  bottom: 0;
  margin-top: -180px; }
.desk:before {
  width: 18px;
  height: 150px;
  background: #5b574e;
  content: "";
  position: absolute;
  top: 20px;
  left: 40px; }
.desk:after {
  width: 18px;
  height: 150px;
  background: #5b574e;
  content: "";
  position: absolute;
  top: 20px;
  right: 40px; }

.desk-container {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto; }

.slide {
  width: 150px;
  height: 140px;
  background: #a68b60;
  position: absolute;
  bottom: -150px;
  left: 80px;
  box-shadow: 0px 60px 0px #a68b60 inset,0px 65px 0px #83653c inset; }
.slide:before {
  content: "";
  width: 7px;
  height: 8px;
  background: #57524f;
  border-radius: 50%;
  position: absolute;
  top: 5px;
  right: 5px; }

.slide-one {
  width: 45px;
  height: 8px;
  background: #5b574e;
  margin-right: auto;
  margin-left: auto;
  margin-top: 27px;
  position: relative; }
.slide-one:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #5b574e;
  border-radius: 50%;
  right: -9px;
  position: absolute;
  top: -2px; }
.slide-one:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #5b574e;
  border-radius: 50%;
  left: -9px;
  position: absolute;
  top: -2px; }

.slide-two {
  width: 45px;
  height: 8px;
  background: #5b574e;
  margin-right: auto;
  margin-left: auto;
  margin-top: 57px;
  position: relative; }
.slide-two:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #5b574e;
  border-radius: 50%;
  right: -9px;
  position: absolute;
  top: -2px; }
.slide-two:before {
  content: "";
  width: 12px;
  height: 12px;
  background: #5b574e;
  border-radius: 50%;
  left: -9px;
  position: absolute;
  top: -2px; }

.magazines {
  width: 66px;
  height: 92px;
  background: #383838;
  position: relative;
  top: -102px;
  margin-left: 57px;
  border: aliceblue; }
.magazines:after {
  content: "";
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
  background: #ececec;
  margin-left: 6px;
  border: 8px solid #5a5a5a;
  margin-top: 30px; }
.magazines:before {
  width: 19px;
  height: 19px;
  background: #5a5a5a;
  content: "";
  display: inline-block;
  border-radius: 50%;
  position: absolute;
  top: 48px;
  left: 24px; }

.flower {
  position: absolute;
  top: -122px;
  left: 160px; }

.bud {
  width: 23px;
  height: 48px;
  background: #ee4c55;
  border-radius: 20px;
  position: relative;
  right: -2px;
  top: 2px; }
.bud:after {
  background: #ee4c55;
  border-radius: 20px;
  width: 48px;
  height: 23px;
  content: "";
  display: inline-block;
  margin-top: 13px;
  margin-left: -12px; }

.bud-inside {
  width: 23px;
  height: 48px;
  background: #c13c42;
  border-radius: 20px;
  position: absolute;
  transform: scale(0.55) rotate(45deg);
  -webkit-transform: scale(0.55) rotate(45deg);
  -moz-transform: scale(0.55) rotate(45deg); }
.bud-inside:after {
  background: #c13c42;
  border-radius: 20px;
  width: 48px;
  height: 23px;
  content: "";
  display: inline-block;
  margin-top: 13px;
  margin-left: -12px; }
.bud-inside:before {
  background: #fcb739;
  width: 18px;
  height: 19px;
  border-radius: 50%;
  content: "";
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 2px; }

.stem {
  width: 4px;
  height: 35px;
  background: #80af4c;
  margin-left: 12px; }

.leaf-row-one {
  background: #82b351;
  width: 15px;
  height: 5px;
  transform: rotate(10deg);
  -webkit-transform: rotate(-20deg);
  -moz-transform: rotate(10deg);
  border-radius: 50%;
  margin-top: 8px;
  position: absolute;
  margin-left: 2px; }
.leaf-row-one:after {
  content: "";
  display: inline-block;
  background: #82b351;
  width: 15px;
  height: 5px;
  border-radius: 50%;
  margin-top: 10px;
  position: absolute;
  margin-left: -4px; }

.leaf-row-two {
  background: #82b351;
  width: 15px;
  height: 5px;
  transform: rotate(10deg);
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(10deg);
  border-radius: 50%;
  margin-top: 7px;
  position: absolute;
  margin-left: -13px; }
.leaf-row-two:after {
  content: "";
  display: inline-block;
  background: #82b351;
  width: 15px;
  height: 5px;
  border-radius: 50%;
  margin-top: 10px;
  position: absolute;
  margin-left: 3px; }

.pot {
  border-top: 31px solid #4c4942;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  height: 0;
  width: 29px;
  position: relative; }
.pot:after {
  position: absolute;
  top: -36px;
  background: #777369;
  width: 36px;
  height: 5px;
  content: "";
  left: -6px; }

.chair {
  background: #F06363;
  width: 130px;
  height: 65px;
  border-radius: 20px;
  position: absolute;
  bottom: -90px;
  left: 340px;
  z-index: 2; }
.chair:before {
  width: 50px;
  background: #F06363;
  height: 20px;
  content: "";
  display: inline-block;
  margin-left: 40px;
  box-shadow: 0px 5px 0px rgba(0, 0, 0, 0.3), 0px 9px 0px #F06363, 0px 13px 0px rgba(0, 0, 0, 0.3), 0px 17px #F06363, 0px 21px rgba(0, 0, 0, 0.3); }
.chair:after {
  content: "";
  display: inline-block;
  border-bottom: 85px solid #a74545;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 33px;
  position: absolute;
  bottom: -60px;
  left: 46px; }

.imac {
  width: 250px;
  position: absolute;
  top: -210px;
  left: 230px; }

.black-side {
  width: 250px;
  height: 140px;
  border-radius: 8px 8px 0 0;
  border: 10px solid #212528;
  background: #f8f8f8; }
.black-side p{
  font-size: x-small;
  text-align: center;
}
.butt {
  width: 250px;
  border-radius: 0 0 8px 8px;
  height: 35px;
  background: #b8b8b8; }

.holder {
  border-bottom: 25px solid #b8b8b8;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  height: 0;
  width: 80px;
  margin: 0 auto; }

.note {
  background: #f8e13b;
  width: 45px;
  height: 40px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  margin-top: -52px;
  margin-left: 27px;
  border-bottom: 5px solid #e9d01b; }

.chair-holder {
  width: 150px;
  height: 14px;
  background: #F06363;
  position: absolute;
  z-index: 1;
  left: 330px;
  border-radius: 30px 30px 0px 0px;
  bottom: -150px; }

.kettle .top {
  border-top: 29px solid #E2E2E2;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 47px;
  position: absolute;
  top: -34px;
  left: 2px; }
.kettle .top:before {
  content: "";
  display: inline-block;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 11px 13px 0;
  border-color: transparent #CECECE transparent transparent;
  -webkit-transform: rotate(-19deg);
  -moz-transform: rotate(-19deg);
  transform: rotate(-19deg);
  position: absolute;
  top: -20px;
  left: -15px; }
.kettle .top:after {
  border-bottom: 6px solid #E2E2E2;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  height: 0;
  width: 9px;
  content: "";
  position: absolute;
  top: -33px;
  left: -11px; }

.kettle .bottom {
  border-bottom: 29px solid #dadada;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 51px; }
.kettle .bottom:before {
  background: #5e5a5b;
  width: 21px;
  content: "";
  display: inline-block;
  position: absolute;
  height: 6px;
  top: -6px;
  left: 15px; }
.kettle .bottom:after {
  height: 28px;
  width: 10px;
  background: #e4e4e4;
  display: inline-block;
  margin: 0 auto;
  content: "";
  left: 20px;
  position: absolute; }

.kettle {
  position: absolute;
  top: -38px;
  left: 520px; }

.other-stuff {
  background: #4d3933;
  border-radius: 3px 3px 0 0;
  height: 5px;
  width: 6px;
  position: absolute;
  top: -43px;
  left: 22px; }

.kettle .handle {
  position: absolute;
  border-bottom: 7px solid #6f5a56;
  border-right: 0px solid transparent;
  border-left: 3px solid transparent;
  height: 0;
  width: 12px;
  top: -33px;
  left: 46px; }
.kettle .handle:before {
  content: "";
  height: 25px;
  display: inline-block;
  background: #6f5a56;
  width: 5px;
  -webkit-transform: rotate(29deg);
  -moz-transform: rotate(29deg);
  transform: rotate(29deg);
  position: absolute;
  right: -3px;
  top: 10px; }
.kettle .handle:after {
  content: "";
  height: 15px;
  display: inline-block;
  background: #6f5a56;
  width: 6px;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
  position: absolute;
  right: -5px;
  top: 1px; }

.cup {
  width: 27px;
  height: 18px;
  border: 3px solid #cecece;
  border-radius: 0 0 100% 100%;
  top: -31px;
  position: absolute;
  left: 600px;
  box-shadow: 0 6px #F8F8F8 inset, 0px 14px #4f3c37 inset; }
.cup:after {
  width: 5px;
  height: 4px;
  content: "";
  display: inline-block;
  position: absolute;
  background: transparent;
  border-radius: 0 50% 50% 0;
  right: -9px;
  border: 3px solid #cecece;
  border-left: none; }
.cup:before {
  content: "";
  display: inline-block;
  background: #cecece;
  width: 27px;
  height: 3px;
  position: absolute;
  bottom: -6px;
  border-radius: 4px;
  left: -2px; }

.board {
  border: 10px solid #15A8CC;
  height: 150px;
  width: 250px;
  position: absolute;
  top: -290px;
  background: white;
  right: -150px;
  box-sizing: border-box;
  font-family: 'Architects Daughter', cursive;
  padding: 10px 20px; }
.board:after {
  content: "";
  background: #f8e13b;
  width: 40px;
  height: 34px;
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  border-bottom: 3px solid #e9d01b;
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 14px; }
.board:before {
  content: "";
  background: #f8e13b;
  width: 40px;
  height: 34px;
  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  transform: rotate(-5deg);
  border-bottom: 3px solid #e9d01b;
  display: inline-block;
  position: absolute;
  bottom: -26px;
  left: 80px; }

.board ul {
  margin-top: 10px; }

.board ul li {
  list-style: none; }
.board ul li:before {
  content: "-";
  margin-right: 5px; }

.longer {
  width: 700px;
  height: 11px;
  background: #5b574e;
  position: absolute;
  top: -11px;
  left: -10px;
  z-index: 99999; }

.window {
  width: 205px;
  height: 225px;
  background: #ebf6fa;
  border: 10px solid white;
  display: inline-block;
  position: relative;
  bottom: 464px;
  left: -120px; }
.window:after {
  background: white;
  height: 240px;
  width: 14px;
  position: absolute;
  top: 0;
  content: "";
  left: 120px; }
.window:before {
  background: white;
  height: 240px;
  width: 14px;
  position: absolute;
  top: 0;
  content: "";
  left: 50px; }

.row {
  width: 185px;
  height: 14px;
  background: white;
  position: absolute;
  top: 60px;
  left: 0px; }
.row:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 185px;
  height: 14px;
  background: white;
  position: absolute;
  top: 71px;
  left: 0px; }

.clock {
  position: relative !important;
  height: 200px;
  width: 200px;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid #535555;
  position: absolute;
  top: -410px;
  left: -340px;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  transform: scale(0.5); }
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto; }
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0; }
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto; }
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0; }
.clock .center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%; }
.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 43200s infinite linear;
  -webkit-animation: time 43200s infinite linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 60px;
  width: 3px;
  top: 30px; }
.clock .minute {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 3600s infinite linear;
  -webkit-animation: time 3600s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 40px;
  width: 1px;
  top: 50px; }
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
  -webkit-animation: time 60s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 45px;
  width: 2px;
  top: 45px; }

@keyframes time {
  to {
    transform: rotate(360deg); } }
@-webkit-keyframes time {
  to {
    -webkit-transform: rotate(360deg); } }

/*# sourceMappingURL=test2.css.map */
