/**
 * Так тебя лююлю что готова учить CSS
 * @valentina
*/
.main-body {
	background: #FF6666;
  height: 100%;
  width: 100%;
}

.heart {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 115px;
	margin: 0 0;
  z-index: 1;
}

.heart::before,
.heart::after {
	content: "";
	z-index: -1;
	position: absolute;
	top: 0;
	background-color: #CC0033;
	width: 63px;
	height: 100px;
	border-radius: 75px 75px 0 0;
}

.heart::before {
	left: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background-color: #cf9797;
	box-shadow: -10px 1px 15px 0 rgba(0,0,0,0.2),
		inset 20px -195px 65px 0 #CC0033,
		inset -2px 2px 0 rgba(255,255,255,.75),
		inset -5px 20px 0px rgba(255,255,255,.35),
		inset -5px 20px 10px rgba(255,255,255,.25);
}
.heart::after {
	left: 26px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	box-shadow:
		10px 2px 15px rgba(0,0,0,0.35),
		inset -15px 7px 22px rgba(0,0,0,.35);

}

.message {
	font-family: 'Ovo', sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #FF6666;
	text-shadow: -1px -1px 1px #ae6363, 1px 1px 1px #450000;
	padding: 20px 0 0px 0px;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
}
.imgs{
	position: relative;
	display: inline-block;
}
.imgs img{
	height: 300px;
	width: auto;
	display: inline-block;
	border-radius: 6px;
}
.imgs p{
	color: white;
	text-align: center;
}

.top-nav{
  display: flex;
  height: 115px;
  display: -webkit-flex; /* Safari */
  align-items: center;
  font-size: large;
}
.top-nav ul{
  align-self:center;
}
.nav-pills>li>a:active, .nav-pills>li>a:focus, .nav-pills>li>a:hover,  .nav-pills>li.active>a{
  background-color: hotpink;
  color: white;
}
.nav-pills>li>a{
  color: white;
}
