<div  class="container-fluid main-body">
  <div class="row">
    <div class="col-sm-4">
      <div class="flower">
        <h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          我是小花
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>
      </div>
      <img src="http://ofn9ip9vx.bkt.clouddn.com/IMG_0008.JPG" alt="">
    </div>
    <div class="col-sm-4">
      <div class="peanut">
        <h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          我是花生
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>
      </div>
      <img src="http://ofn9ip9vx.bkt.clouddn.com/IMG_1012.JPG" alt="">
    </div>
    <div class="col-sm-4">
      <div class="me">
        <h4><span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
          我是小二
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></h4>
      </div>
      <img src="http://ofn9ip9vx.bkt.clouddn.com/image/jpg/hashiqi.jpg" alt="">
    </div>
  </div>
</div>
